<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Vesta needs access to your microphone to enable voice input for chat messages.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Vesta uses speech recognition to convert your voice input into text for chat messages.</string>
</dict>
</plist>
